html, body{
    height: 100%;
    font-family: 'skolarregular', serif;
    color: #222222;
    font-size: 15px;
    line-height: 30px;
}

.list-inline>li {
    display: inline-block;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 10px;
}

.sidebar{
    position:absolute;
    padding-top: 10px;
    height: 100%;
}

.sidebar .post hr {
    border-color: #222;
	height: 2px;
	background-color: #222;
}

.sidebar span{
	font-size: 20px;
	font-weight: bold;
	margin-top: 20px;
}

.blog-body{
	margin-top:100px;
}

.blog-body .img-responsive{
	float: right;
	margin-top: -100px;
	margin-right: -10px;
	width:15%;
}

.blog-body p{
	margin-bottom: 50px;
	font-size: 25px;
	color: #9B9999;

}

h2{
	font-weight: 900;
	font-size: 30px;

}

h5{
	margin-top: 20px;
	letter-spacing: 2px;
	font-size: 18px;
	font-weight: 200;
	color: #666565;

}
.content-wrapper .blog-body hr{
	width: 100px;
	height: 2px;
	margin-bottom: 30px;
	background-color: #222;

}
.blog-body2 hr{
	width: 100px;
	height: 2px;
	margin-bottom: 30px;
	background-color: #222;

}
h3{
	font-size: 24px;
	margin-bottom: 30px;
}

h4{
	font-size: 20px;
	margin-bottom: 20px;
	font-weight: bold;
	letter-spacing: 2px;
}

.btn-block{
	width: 200px;
	margin-top: 50px;
	color: #222;
	border-color: #222;
	border-radius: 0px;
	border-width: 2px;
	font-size: 14px;
	font-weight: 600;
}

.blog-body2{
	margin-top: 50px;
	margin-bottom: 50px;
}

/*.blog-body2 .img-responsive{
	padding:1px;
	background-color: #222;
} */

.blog-footer p{
	color: #A19C9C;
	letter-spacing: 5px;
	margin-bottom: 20px;
	margin-top: 20px;
	font-weight: bold;
}

.fa-lg {
    color: #A19C9C;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 2px solid #A19C9C;
    padding: 20px;
}

#img-responsive{
	max-width: 30%;
}

.fa-small {
    font-size: 20px;
    margin-bottom: 30px;
    color: #222;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

i {
    border: 2px solid black;
    padding: 20px;
    border-color: #222;
}

.w3-input{
  	border: 1px;
  	border: 1px solid #808080;
	width: 70%;
	padding: 20px;
	margin: 5px;
	display:inline-block;
}

