.navbar-inverse {
    background-color: #fff;
    border-color: #fff;
    padding: 20px;
    font-weight: bold;
}

.navbar-inverse .navbar-nav>li>a {
    color: #222;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #fff;
    background-color:#31AF99;
    border-radius: 5px;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: #31AF99;
    background-color: transparent;
}


.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #0C0C0C;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #fff;
}
.fa-large{
	font-size: 25px;
}

.blog-body .img-responsive{
	width: 100%;
    margin-top: 50px;
}

.blog-body1 h2{
    margin-top: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 30px;
}


.blog-body1 p{
    margin: 20px;
    padding-bottom: 20px;
}

.btn-block{
    margin-bottom: 50px;
    border-radius: 50px;
}

.btn-info{
    background-color:#3C3B3B;
    border-color: #3C3B3B; 
}

.btn-danger:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #31b0d5;
}
.container{
    max-width:768px; 
}

.blog-body2 .img-responsive{
    width: 40%;
    margin-bottom: 20px;
}

.blog-body2 h2{
    margin-top: 50px;
    font-weight: bold;
    margin-bottom: 50px;
    font-size: 30px;
}

.blog-body2 p{
    margin-bottom: 50px;
    padding-bottom: 20px;
}
