@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@300;400;500;600;700&display=swap');
body {
    width: 100%;
	float: left;
    font-family: 'Lato', sans-serif;
	font-size: 18px;
	color: #222222;
    line-height: 30px;
    background: #333646;
}

img {
	max-width: 100%;
	height: auto;
}
a {
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}
ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.form-control:focus,
.btn-primary.focus,
.btn-primary:focus {
	border-color: none;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

a:hover {
	text-decoration: none;
}

:focus {
    outline: -webkit-focus-ring-color auto 0px;
  }
  
  .btn-warning.focus,
  .btn-warning:focus {
      box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0);
  }
  
  ul {
      margin: 0px;
      padding: 0px;
      list-style: none;
  }
  
  img {
      max-width: 100%;
      height: auto;
  }

.banner-section {
    width: 100%;
    float: left;
    background: #252734;
    /* height: 100vh; */
    padding-top: 5rem;
}
.my-details {
    position: relative;
    height: 100%;
    padding-top: 5rem;
}
.my-logo {
    margin-top: 2rem;
}
.my-photo {
    position: absolute;
    bottom: 0px;
    width: 60%;
    right: -20px;
}
.social-icons {
    margin-top: 8rem;
}
.social-icons li {
    display: inline-block;
    margin-right: 15px;
}
.social-icons li a {
    color: #ffffff;
}
.social-icons li a i {
    font-size: 20px;
}
.intro {
    color: #ffffff;
    padding-top: 5rem;
    padding-bottom: 3rem;
    /* padding-left: 5rem; */
}
.pad-bottom-10 {
  padding-bottom: 10rem;
}
.intro h4 {
    /* margin-top: 5rem; */
    font-size: 16px;
    color: #adadad;
}

.intro h2 {
    font-size: 36px;
    font-weight: bold;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.intro p {
    font-size: 16px;
    color: #adadad;
    line-height: 25px;
}
  
.intro a {
    font-size: 24px;
    color: #ffaf29;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.intro a .arrow {
    width: 32px;
    margin-left: 10px;
    
}

.selected-projects {
    width: 100%;
    float: left;
}
.selected-projects .intro p {
    margin-bottom: 5rem;
}
.projects {
    /* padding-top: 3rem; */
    /* padding-bottom: 10rem; */
}
.works {
    border-radius: 10px;
    overflow: hidden;
    display: block;
    margin-bottom: 30px;
    position: relative;
    width: 100%;
    height: 450px;
}
.works img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}
.bacground-mask {
    background: #000000ad;
    width: 100%;
    height: 0%;
    opacity: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    -o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
    transition: .5s;
}
.bacground-mask h4 {
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
}
.bacground-mask h6 {
    font-size: 24px;
    color: #ffffff;
}
.works:hover .bacground-mask {
    height: 100%;
    opacity: 1;
    -o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}

/* menu */


.header {
    background-color: #252734;
    /* box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1); */
    position: fixed;
    width: 100%;
    float: left;
    z-index: 3;
    opacity: 0;
    -o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
  }
  header.header.shrink {
    position: fixed;
    opacity: 1;
    border-bottom: 1px solid #fff;
    -o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #252734;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    /* border-right: 1px solid #f4f4f4; */
    text-decoration: none;
    color: #ffffff;
    font-size:16px ;
  }
  .header li a::after {
    content: "";
    width: 0px;
    height: 2px;
    background: #ffaf29;
    display: block;
    margin: 0px auto;
    -o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;

  }
  .header li.active a::after {
    content: "";
    width: 30px;
    height: 2px;
    background: #ffaf29;
    display: block;
    margin: 0px auto;
  }
  .header li.active a {
    color: #ffaf29;
  }
  .header li:hover a::after{
    width: 30px;
    -o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
  }
  
  .header li:hover a {
      color: #ffaf29;
  }
  .header .logo {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 992px) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 25px;
      font-family: 'Montserrat', sans-serif;
      /* font-size: 22px; */
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }
.view-more {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 3rem;
}
.view-more a {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
}
.projects-view {
  background: #ffffff;
  margin-bottom: 30px;
  border-radius: 10px;
  overflow: hidden;
}
.project-content {
  padding: 50px;
}
.project-content a {
  display: block;
}

.project-content h6 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0px;
}
.project-content p {
  font-size: 16px;
}
.project-content h4 {
  font-size: 26px;
  font-weight: bold;
  color: #333646;
  line-height: 35px;
  margin-top: 40px;
  margin-bottom: 30px;
}
.project-content span{
  color: #ffaf29;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.project-content a {
  color: #222222;
}
.let-friends {
  width: 100%;
  float: left;
  background: #252734;
  padding-bottom: 5rem;
}
.let-friends a{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #333646;
  padding: 20px 30px;
  color: #fff;
  border-radius: 10px;
  margin-bottom: 30px;
}
.let-friends a h4 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 0px;
}
.let-friends a p {
  margin-bottom: 0px;
}
.let-friends a img {
  width: 60px;
}
.mail-custom {
  background: #ffaf29 !important;
  color: #222222 !important;
}
.let-friends a:hover img {
  filter: brightness(1000%);
}
.inner-page  .header {
  opacity: 1;
  position: relative;
}
.worked-projects {
  width: 100%;
  float: left;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.dribble-shots {
  width: 100%;
  float: left;
  margin-bottom: 3rem;
}
.dribble-gallery a {
  display: block;
  /* width: 370px; */
}
.dribble-gallery {
  display: flex;
  flex-wrap: wrap;
}
.inner-page .let-friends {
  margin-top: 5rem;
}
.projects a {
  border-radius: 10px;
  display: block;
  overflow: hidden;
}
.dribble-shots .projects {
  margin-bottom: 30px;
}

/* Gallery */
.gallery { 
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  margin-top: 10px;
  overflow: hidden;
}

.gallery img { 
  width: 100%; 
  height: auto;
  transition: 500ms;
  margin-bottom: 10px;
  opacity: 0.8;
  page-break-inside: avoid; /* For Firefox. */
  -webkit-column-break-inside: avoid; /* For Chrome & friends. */
  break-inside: avoid; /* For standard browsers like IE. :-) */
}

.gallery img:hover {
  opacity: 1;
}

/* .modal {
display: flex;
align-items: center;
justify-content: center;
flex-direction: center;
} */

.modal-img,.model-vid{
margin: 0;
padding: 0;
width: 100%;
height: 100%;
display: table
}
.modal-body{
padding: 0px;
}

.modal-dialog {
height: 100%;
    position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
border: none;
}

@media screen and (max-width: 767px) {
.gallery { 
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
  }
.gallery div { margin: 0; 
      width: 200px;
  }
.modal-dialog {
      margin: 0 8vw;
  }
}

@media screen and (max-width: 479px) {
  .gallery { 
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
  }
  .gallery div { 
      margin: 0; 
      width: 200px;
  }
}
.bg-dark {
  background: #252734 !important;
}
.heading1{
  color: #fff;
  font-size: 42px;
  width: 70%;
  line-height: 60px;
  font-weight: bold;
  font-style: italic;
}
.margin-top50 {
  margin-top: 50px;
}
.margin-top30 {
  margin-top: 30px;
}
.margin-top80 {
  margin-top: 80px;
}
.sub-heading{
  color: #fcad2a;
  font-size: 22px;
  font-weight: 600;
}
.sub-heading1 {
  color: #fff;
    font-size: 32px;
    line-height: 60px;
    font-weight: bold;
}

.project-challenges ul {
  padding-left: 20px;
}
.project-challenges ul li::before {
  content: "\2022"; 
  color: #fcad2a; 
  font-weight: bold; 
  display: inline-block; 
  width: 1em; 
  margin-left: -1em; 
}
.width-custom-100 {
  width: 100%;
  float: left;
  color: #ffffff;
  padding: 8rem 0px;
}
.final-design ul {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0px -15px;
}
.final-design ul li {
  width: 350px;
  margin: 15px;
}
.final-design .heading1 {
  margin-bottom: 30px;
}
.project-challenges img {
  width: 100%;
}
.books li {
  display: inline-block;
  margin: 15px;
}